<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Registration</title>
</head>
<body>
    <h1>New Registration</h1>

    <form action="#" th:action="@{/subscriptions}" th:object="${newSubscriptionData}" method="post">
        <!--   TODO: insert CSRF configuration     -->

        <p>Global and field errors</p>
        <ul th:if="${#fields.hasErrors('*')}">
            <li th:each="error : ${#fields.errors('*')}" th:text="${error}">error</li>
        </ul>

        <label>Email:
            <input type="text" th:field="*{subscriberData.email}" />
        </label>

        <ul>
            <li th:each="watchableSuburb : ${watchableSuburbs}">
                <input type="checkbox" th:field="*{suburbsToWatchData}" th:value="${watchableSuburb.id}" />
                <label th:for="${#ids.prev('suburbsToWatchData')}"
                       th:text="|${watchableSuburb.name} (${watchableSuburb.postCode})|">Docklands (3008)</label>
            </li>
        </ul>

        <p><input type="submit" value="Get alerts" /></p>
    </form>
</body>
</html>